<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cambio de rol</h1>
            <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;"></div>
            <p>Cambio de rol para el usuario {{ user.firstName }} {{ user.lastName }} a user</p>
            <form id="roleChangeUserForm" method="PUT">
                <button type="submit" class="btn btn-primary">Cambiar a user</button>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/js/changeUserRole.js"></script>