<h1>Chat</h1>
<div id="chat-messages"></div>
<input type="email" id="user" placeholder="Email">
<input type="text" id="message" placeholder="Mensaje">
<button id="send">Send</button>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="/js/chat.js"></script>