<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Olvide la contraseña</h1>
            <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;"></div>
            <form action="/requestPasswordReset" method="post">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <button type="submit">Enviar enlace de restablecimiento de contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/js/forgotPassword.js"></script>