<div>
    conectado a web socket

    <a href="/api/products/" class="btn btn-primary">Ver los productos</a>
    <a href="/api/messages/" class="btn btn-primary">Ver chat</a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>